@model LoginViewModel
@{
	ViewData["Title"] = "Login";
    ViewData["HideFooter"] = true;
    ViewData["HideHeader"] = true;
    Layout = "_Layout";
}


<div id="loginbg">
    <div class="d-flex align-items-center justify-content-center js-fullheight">
        <div class="col-3">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <b>@_localization.Getkey("Login")</b>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger small"></div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Username" class="form-control" placeholder="@_localization.Getkey("Username")" />
                                    
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="@_localization.Getkey("Password")" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <a class="gohome" asp-controller="Home" asp-action="Index">@_localization.Getkey("Gohome")</a>
                                </div>
                            
                            <div class="col-4 ms-auto">
                                <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-mysuccess">@_localization.Getkey("Login")</button>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
