<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Doctor Appointment System</title>
    <link rel="icon" href="/images/dasfav.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet" />

	<link href="~/css/slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status" style="color: lightseagreen;">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>


    @{
        bool hideHeader = ViewData["HideHeader"] as bool? ?? false;
    }

    @if (!hideHeader)
    {

        <header>
            <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-toggleable-sm navbar-light box-shadow fixed-top">
                <div class="container">
                    <a class="navbar-brand" style="color:lightseagreen; font-weight: bolder; font-size: 25px;" asp-area="" asp-controller="Home" asp-action="Index">
						<img class="img-fluid" width="100px;" src="~/images/das.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 align-items-center">
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("Home")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("About")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("Department")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-size: 20px;" asp-area="" asp-controller="Contact" asp-action="Index">@_localization.Getkey("Contact")</a>
                            </li>

                            <li class="nav-item">
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle text-light" data-bs-toggle="dropdown">@_localization.Getkey("Language")</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                                <i class="flag-icon flag-icon-gb"></i>
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                                                <i class="flag-icon flag-icon-tr"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("admin"))
                                {

                                    <li class="nav-item dropdown">
                                        <a style="font-size: 20px;" class="nav-link dropdown-toggle text-light" asp-controller="Admin" asp-action="Index" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Administrator
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">@_localization.Getkey("Users")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Doctor" asp-action="Index">@_localization.Getkey("Doctors")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Department" asp-action="Index">@_localization.Getkey("Deparment")</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Appointment" asp-action="Index">@_localization.Getkey("Appointments")</a>
                                            </li>
                                        </ul>
                                    </li>

                                }
                                else
                                {
                                    <li class="nav-item ms-auto btn btn-primary m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Appointment" asp-action="Appointments">
                                            <i class="fa fa-calendar me-2" aria-hidden="true"></i>

                                            @_localization.Getkey("Appointments")
                                        </a>
                                    </li>
                                    <li class="nav-item btn btn-success m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Appointment" asp-action="MyAppointments">
                                            <i class="fa fa-tasks me-2" aria-hidden="true"></i>@_localization.Getkey("MyAppointments")
                                        </a>
                                    </li>
                                }
                                
                                <li class="nav-item ms-auto btn btn-mysuccess m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Profile"><i class="fa-solid fa-user me-2"></i>@User.FindFirst("Username").Value</a>
                                </li>
                                <li class="nav-item btn btn-danger m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket me-2"></i>@_localization.Getkey("Logout")</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item ms-auto btn btn-mysuccess m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket me-2"></i>@_localization.Getkey("Login")</a>
                                </li>
                                <li class="nav-item btn btn-primary m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user me-2"></i>@_localization.Getkey("Register")</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    }



            @RenderBody()


    @{
        bool hideFooter = ViewData["HideFooter"] as bool? ?? false;
    }

    @if (!hideFooter)
        {

    <footer>
            <div style="bottom:0; width:100%; background-color: #68c3cf;" class="text-light text-center">

            <div class="row">
                    <div class="col-12">
                        <div class="container text-center p-4">
                            2023 - Doctor Appointment System
                        </div>
                    </div>
            </div>
        </div>
    </footer>
        }

	<script src="~/lib/jquery/dist/jquery-3.6.0.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/toastr.js/toastr.min.js"></script>
	<script src="~/js/slider.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
